/* modules/footer.css */

.footer__icon{
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 40px;
    line-height: 39px;
    text-decoration: none;
    color: var(--third-color);
    margin-right: 10px;
}

.footer__list{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.footer__list-item::before{
    content: "\f105";
    margin-right: 7px;
    font-family: fontawesome;
    color: var(--text-primary);
    font-size: 0.7rem;
}

.footer__bottom{
    background-color: #070719;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 14px;
    border-top: 1px solid rgba(255, 255, 255, .05);
}