/* base/_background.css */

.bg-f2f2f7{
    background-color: #f2f2f7;
}

.bg-F4FAFD{
    background-color: #F4FAFD;
}

.bg-007cd2{
    background-color: #007cd2;
}

.bg-0b3a94{
    background-color: #0b3a94;
}