/* base/_background.css */

.bg-f2f2f7 {
    background-color: #f2f2f7;
}

.bg-F4FAFD {
    background-color: #F4FAFD;
}

.bg-007cd2 {
    background-color: #007cd2;
}

.bg-0b3a94 {
    background-color:  #0b3a94;
}



.bg-image-01 {
    background-image: url("/assets/bg/background3.jpg");
    background-size: cover;
}

.bg-gradient-0b3a94-007cd2 {
    background: linear-gradient(86.42deg, #0b3a94 0%, #007cd2 83.05%);
}

.bg-image-02{
    background-image: url("../../../../uploads/2025/03/background01.jpg");
    background-size: cover;
}

.bg-image-03{
    background-color: var(--main-color);
}

.bg-image-04::before{
    background-image: url('/assets/bg/bg_lines.svg');
    background-size: cover;
    background-position: center;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4; /* Adjust opacity */
}

.bg-white{
    background-color: var(--bg-primary);
}