.text_white{
    color:var(--text-primary);
}

.text_blue{
    color: var(--primary-color);
}

.text_grey{
    color:var(--overlay-opacity);
}

.text_black{
    color:var(--text-secondary);
}

.text_f7cf2b{
color: var(--text-f7cf2b);
}

.text_0000ff{
    color: var(--text-0000ff);
}

.text_red{
    color: var(--text-red);
}

.text-565968{
    color: var(--text-565968);
}