/* In components/card.css */

.fun-fact-card{
    text-align: center;
    background: #fff;
    padding: 30px 10px;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.fun-fact-card__icon{
    max-width: 60px;
}

.fun-fact-card__background{

    background-color: #ececff;
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    width: 60px; 
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
}

.fun-fact-card__milestone{
    color: var(--secondary-color);
    font-weight: 600;
    margin: 10px 0;
}