/* components/decorations.css */
.title__decoration_border_bottom{
    /* margin-bottom: 15px; */
}
.title__decoration_border_bottom::after{
    content: "";
    height: 2px;
    width: 80px;
    background-color: #fcc70b;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* margin-top: 8px; */
    bottom: 0;
}

.title__decoration_border_bottom_left::after{
    content: "";
    height: 2px;
    width: 80px;
    background-color: #fcc70b;
    display: block;
    position: absolute;
    left: 0;
    /* transform: translateX(-50%); */
    margin-top: 15px;
}

.title__decoration_border_bottom_left{
    margin-bottom: 45px;
}

.title__section{
    font-size: 28px;
    position: relative;
    margin-top: 0;
}

.title__section-position_relative{
    position: relative;
}

.overlay__black::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background-color: #000;
    z-index: -1;
}

.overlay__blue::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #0b3a94);
    z-index: -1;
    height: 80%;
    transition: 0.5s;
    border-radius: 8px;
}

.overlay__blue:hover::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), #007cd2);
    z-index: -1;
    height: 100%;
}

.side-bar__title{
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding-bottom: 15px;
    font-size: 1.3rem;
}

.side-bar__link_no_bold, .side-bar__text_no_bold{
    font-weight: 400;
    color:var(--text-404040);
}

.side-bar__thumbnail_border{
    border-radius: 3px;
}

.side-bar__text_padding{
    padding-left: 10px;
}