/* components/page-banner.css */

.page__banner {
    background-image: url('../../../../uploads/2025/03/bgsub.jpeg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* padding-top: 150px;
    padding-bottom: 40px; */
    position: relative;
    min-height: 290px;
    z-index: 1;
}

.page__banner_inner {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
}

/* .page__banner_inner.container{
    position: absolute;
} */

.page__banner_no_image {
    padding-top: 150px;
    padding-bottom: 40px;
    position: relative;
    min-height: 290px;
    z-index: 1;
}